html {
    font-size: 10px;
    font-family: 'Merriweather', serif;
    background-color: #F1EEEE;
}

h1 {
    font-family: 'Karla', sans-serif;
    font-size: 60px;
    text-align: center;
}

p, li {
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 1px;
}

body {
    width: 1000px;
    margin: 0 auto;
}

.display, .options, .keyboard {
    text-align: center;
}

#screen-area {
    background-color: lightslategray;
}

div.tests-scroll {
    background-color:lightslategray;
    height: 400px;
    padding: 1%;
    border: 5px solid;
    overflow: scroll;
}