html {
    font-family: 'Merriweather', serif;
    font-size: 10px;
    background-color: #F1EEEE;
    padding-bottom: 50px;
}

h1 {
    font-family: 'Karla', sans-serif;
    font-size: 60px;
    text-align: center;
}

p, li {
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 1px;
}

body {
    width: 80%;
    margin: 0 auto;
}

.display, .options {
    text-align: center;
}

#screen-area {
    background-color: lightslategray;
    border: 5px solid;
}

div.tests-scroll {
    background-color:lightslategray;
    height: 400px;
    padding: 1%;
    border: 5px solid;
    overflow: scroll;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.visualizer{
    overflow: hidden; /* prevent instructions and registers outside of body*/
	padding-top: 1%;
}

.instructions{
    border: 5px solid;
    float:left;
    width: 80%;
    font-family: 'Karla', sans-serif;
    font-size: 15px;
    padding: 0.5% 0.5% 0.5% 0.5%;
}

.registers{
    border: 5px solid;
    float:right;
    width: 15%;
    padding: 0.5% 0.5% 0.5% 0.5%;
}

.registers_inner{
    font-family: 'Karla', sans-serif;
    font-size: 15px;
}

.current-instruction {
    background-color: greenyellow;
}

.descriptionButton{
	background-color: #D9D9D9;
    color: black;
    cursor: pointer;
    padding: 5px;
    border: solid;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, #descriptionButton:hover {
	background-color: gray;
}

#description {
    padding: 0 10px;
    background-color: whitesmoke;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
	font-family: 'Karla', sans-serif;
	font-size: 15px;
}

#controlsTable{
  border: 1px solid black;
}
