html {
    font-family: 'Avenir', sans-serif;
    font-size: 10px;
    background-color: white;
    padding-bottom: 50px;
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Karla', sans-serif;
    font-size: 60px;
    text-align: center;
}

p, li {
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 1px;
}

body {
    width: 80%;
    margin: 0 auto;
    padding: 2%;
}

.options {
    text-align: center;
}

#quirk{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding-top: 1%;
}

#quirk div {
    padding-left: 30px;
}

.quirk-label{
    font-size: 13px;
}

/* making the checkboxs bigger */
input[type=checkbox] {
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}

/* div.tests-scroll {
    background-color:lightslategray;
    height: 400px;
    padding: 1%;
    border: 5px solid;
    overflow: scroll;
} */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.visualizer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}

.display{
    text-align: center;
}

#screen-area {
    background-color: #c4c4c4;
    border: 3px solid;
    display: inline;
    border-radius: 5px;
    box-shadow: 5px 7px #dbdbdb;

}

.instructions{
    border: 3px solid black;
    font-family: 'Karla', sans-serif;
    font-size: 12.5px;
    padding: 0.5% 0.5% 0.5% 0.5%;
    width: 20%;
    min-width: 200px;
    height: 310px;
    border-radius: 10px;
    box-shadow: 5px 7px #dbdbdb;
}

.registers{
    border: 3px solid black;
    padding: 0.5% 0.5% 0.5% 0.5%;
    width: 10%;
    min-width: 100px;
    height: 310px;
    border-radius: 10px;
    box-shadow: 5px 7px #dbdbdb;
}

.registers_inner{
    font-family: 'Karla', sans-serif;
    font-size: 12.5px;
}

.current-instruction {
    background-color: greenyellow;
}

.flexBoxPadding{
  width: 3%;
}



.descriptionButton{
	background-color: #D9D9D9;
    color: black;
    cursor: pointer;
    padding: 5px;
    border: solid;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, #descriptionButton:hover {
	background-color: gray;
}

#description {
    padding: 0 10px;
    background-color: whitesmoke;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
	font-family: 'Karla', sans-serif;
    font-size: 15px;
}

#controlsTable {
    border: 2px solid black;
    float: left;
}

#controlsDescription {
    float: left;
    padding: 0 0 0 2%;
}

/* #tool-sprite{
    border: 2px solid black;
    height: 300px;
    width: 160px;
    overflow: hidden;
} */

#sprite-draw {
    border: 5px solid black;
    background-color: #c4c4c4;
}

#controlsFlex{
  padding: 1%;
  display: flex;
  flex-direction: row;
}

.games{
  border: 3px solid black;
  font-family: 'Karla', sans-serif;
  font-size: 12.5px;
  padding: 0.5% 0.5% 0.5% 0.5%;
  border-radius: 10px;
  box-shadow: 5px 7px #dbdbdb;
}
